<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="description" content="A website for visual artists to collaborate by playing games similar to \" Exquisite
    Corpse\"">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{% block og_title %}{% endblock og_title %}" />
  <meta property="og:image" content="{% block og_image %}{% endblock og_image %}" />
  <title>{% block title %}XQZT CRPS{% endblock title %}</title>
  <link rel="stylesheet" href="/public/css/style.css">

  <script href="/public/js/htmx.min.js"></script>
</head>

<body>
  <div id="page_content">
    {{content}}
  </div>
</body>

</html>