{% extends "base.html" %}

{% block body %}
<div class="full-size flex flex-column justify-center padding-05">
  <h1 class="text-center">Log In</h1>
  <form class="flex flex-column justify-center" action="POST" action="/user/log-in">
    <div class="input-group">
      <label for="username">
        username
      </label>
      <input type="text" name="username" id="log-in-username" required />
    </div>
    <div class="input-group">
      <label for="password">
        password
      </label>
      <input type="password" name="password" id="log-in-password" required />
    </div>
    <input type="submit" value="log in" />
  </form>
</div>
{% endblock body %}