<div class="full-size flex flex-column justify-center padding-05">
  <h1 class="text-center">Log In</h1>
  <p>Enter your username and we'll send you an email with a MaGiC lOgIn link</p>
  <form class="flex flex-column justify-center" action="POST" action="/user/log-in">
    <div class="input-group">
      <label for="username">
        username
      </label>
      <input type="text" name="username" id="log-in-username" required />
    </div>
    <input type="submit" value="log in" />
  </form>
</div>